.registrar-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.registrar-container h2 {
  text-align: center;
}

.registrar-form {
  padding: 50px;
  box-shadow: 0 10px 30px rgb(0 0 0 / 5%);
  border-radius: 5px;
}

.rating-value {
  display: flex;
  justify-content: space-between;
}

.rating-value span {
  color: #6c757d;
}

.card {
  margin: 15px 5px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 5%);
  min-height: 230px;
}

.card-body {
  padding: 30px;
}

.card-body h3 {
  text-transform: capitalize;
  font-weight: 500;
}

.card-body h6 {
  color: #2f77b3;
}
.card-body h6:hover {
  text-decoration: underline;
}
.card-body .reviews {
  position: absolute;
  bottom: 25px;
  margin-top: 10px;
}

.card-body .reviews i {
  color: goldenrod;
}

.registrar-container .load-btn {
  width: 150px;
  display: block;
  margin: 20px auto;
  box-shadow: 0px 2px 5px 0px #dadada;
}

.dropdown-toggle {
  float: right;
  margin-right: 10px;
}